# searches the directory tree
source_up

############################
##  Stage Environment Vars
############################

# should typically match the directory name
STAGE=$(pwd | xargs basename)


# see why this is exported separately: https://github.com/koalaman/shellcheck/wiki/SC2155
export STAGE


# Export terraform environment variables
source <(tfenv)
