#!/usr/bin/env bash
set -euo pipefail
# shellcheck disable=SC2154
trap 's=$?; echo >&2 "$0: Error on line "$LINENO": $BASH_COMMAND"; exit $s' ERR

############################
##  Project Environment Vars
############################

PROJECT_NAME="$(pwd | xargs basename)" # defaults to directory name

export DEPARTMENT="" # department should be the short name of your department

# group (preferred) or user email address you want notifications to go to for this project
export OWNER=""

# Repo URL for tagging
export REPO_URL=""

# sets default region for entire project
# overridden by AWS_REGION in all region directories except global
export AWS_DEFAULT_REGION="us-west-2"


# see why this is exported separately: https://github.com/koalaman/shellcheck/wiki/SC2155
export PROJECT_NAME

