# searches the directory tree
source_up "project.envrc"

# you should rarely need to change this!
# there is no region called "global" but we still have to get to global APIs in a specific region
AWS_REGION="${AWS_DEFAULT_REGION}"

# see why this is exported separately: https://github.com/koalaman/shellcheck/wiki/SC2155
export AWS_REGION


